*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: rgba(249, 255, 240, 0.712);
}
.card{
  width: 350px;


}

img{
  width:320px;
  height: auto;

  
}
.container{
  display: flex;
  flex-direction: row;
}
